USE [master]
GO
/****** Object:  Database [Practica2]    Script Date: 06/05/2019 04:31:23 p. m. ******/
CREATE DATABASE [Practica2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS02\MSSQL\DATA\Practica2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS02\MSSQL\DATA\Practica2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica2]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 06/05/2019 04:31:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Matricula] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[ID] [varchar](10) NOT NULL,
	[Autor] [varchar](1) NOT NULL,
	[FechaDLanz] [date] NOT NULL,
	[FechaDREcib] [date] NOT NULL,
	[Precio] [money] NOT NULL,
	[Categoría] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_2]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_2]
AS
SELECT Alumnos.Matricula, Libros.ID
FROM Alumnos
INNER JOIN Libros
ON Alumnos.Matricula= Libros.ID;
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[IDCarrera] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[NumeroEstud] [varchar](50) NOT NULL,
	[Grupos] [varchar](50) NOT NULL,
	[DuraciónTotal] [time](7) NOT NULL,
	[Aulas] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[IDClub] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Encargado] [varchar](1) NOT NULL,
	[Duración] [time](7) NOT NULL,
	[Aula] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDClub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_3]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_3]
AS
SELECT Carrera.IDCarrera, Clubs.IDClub
FROM Carrera
INNER JOIN Clubs
ON Carrera.IDCarrera=Clubs.IDClub;
GO
/****** Object:  Table [dbo].[Maestros2]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestros2](
	[NumEmpl] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[FechaNacimiento1] [date] NULL,
	[FechaIngreso] [date] NULL,
	[Edad] [varbinary](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumEmpl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_5]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_5]
AS
SELECT Maestros2.PrimerApellido,Alumnos.SegundoApellido
FROM Maestros2
INNER JOIN Alumnos
ON Maestros2.PrimerApellido=Alumnos.SegundoApellido;
GO
/****** Object:  View [dbo].[Vw_8]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_8]
AS
SELECT Carrera.IDCarrera, Clubs.IDClub
FROM Carrera
INNER JOIN Clubs
ON Carrera.IDCarrera=Clubs.IDClub;
GO
/****** Object:  View [dbo].[Vw_9]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_9]
AS
SELECT Carrera.IDCarrera, Clubs.IDClub
FROM Carrera
INNER JOIN Clubs
ON Carrera.IDCarrera=Clubs.IDClub;
GO
/****** Object:  View [dbo].[Vw_10]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_10]
AS
SELECT Carrera.IDCarrera, Clubs.IDClub
FROM Carrera
INNER JOIN Clubs
ON Carrera.IDCarrera=Clubs.IDClub;
GO
/****** Object:  View [dbo].[Vw_1]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_1]
AS
SELECT Carrera.IDCarrera, Clubs.IDClub
FROM Carrera
INNER JOIN Clubs
ON Carrera.IDCarrera=Clubs.IDClub;
GO
/****** Object:  View [dbo].[Vw_4]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_4]
AS
SELECT Maestros2.FechaNacimiento1,Alumnos.FechaNacimiento
FROM Maestros2
INNER JOIN Alumnos
ON Maestros2.FechaNacimiento1=Alumnos.FechaNacimiento;
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[ID] [varchar](10) NOT NULL,
	[Nombre1] [varchar](50) NOT NULL,
	[FechaDentr] [date] NOT NULL,
	[Precio1] [money] NOT NULL,
	[Categoría] [varchar](50) NOT NULL,
	[Clasificación] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATILLOS]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATILLOS](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [money] NOT NULL,
	[FechaPedido] [date] NULL,
	[TiempoNServ] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_6]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_6]
AS
SELECT PELICULAS.Nombre1,PLATILLOS.Nombre
FROM PELICULAS
INNER JOIN PLATILLOS
ON PELICULAS.Nombre1=PLATILLOS.Nombre;
GO
/****** Object:  View [dbo].[Vw_7]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_7]
AS
SELECT PELICULAS.Precio1, PLATILLOS.Precio
FROM PELICULAS
INNER JOIN PLATILLOS
ON PELICULAS.Precio1=PLATILLOS.Precio;
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IDMat] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Profesor] [varchar](1) NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
	[Duración] [time](7) NOT NULL,
	[NomCarrera] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSICA]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSICA](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Autor] [varchar](1) NOT NULL,
	[FechaDCompr] [date] NOT NULL,
	[Precio] [money] NOT NULL,
	[Categoría] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tablalog]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablalog](
	[idlog] [int] NULL,
	[accion] [varchar](45) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEOJUEGOS]    Script Date: 06/05/2019 04:31:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEOJUEGOS](
	[ID] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Creadores] [varchar](1) NOT NULL,
	[FechaDentr] [date] NOT NULL,
	[Precio] [money] NOT NULL,
	[Categoría] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
